{% extends 'base.html.twig' %}

{% block title %}
  Category List
{% endblock %}
{% block categoryActive %}
  active
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div>
      <h1>Category List</h1>
      <a href="{{ path('app_back_category_new') }}"><button type="button" class="btn btn-primary mb-3 bi bi-plus-lg"></button></a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Menu Position</th>
          <th>Name</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr>
            <td>{{ category.menuPosition }}</td>
            <td>{{ category.name }}</td>            
            <td>{{ category.active ? 'Yes' : 'No' }}</td>
            <td>
              <a href="{{ path('app_back_category_show', { id: category.id }) }}"><button type="button" class="btn btn-info btn-sm bi bi-eye"></button></a>
              <a href="{{ path('app_back_category_edit', { id: category.id }) }}"><button type="button" class="btn btn-warning btn-sm bi bi-pencil-square"></button></a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="7">No records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
