{% extends 'base.html.twig' %}

{% block title %}
  Closed Order List
{% endblock %}
{% block closedActive %}active{% endblock %}
{% block body %}
<div class="container-fluid">
  <h1>Closed Order List</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Items</th>
        <th>Total</th>
        <th>Paid</th>
        <th>Count</th>
        <th>UserId</th>
        <th>CreatedAt</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for closed_order in closed_orders %}
        <tr>
          <td>{{ closed_order.id }}</td>
          <td>{% if  closed_order.items  %}
                {% set allExist = true %}
                  {% for item in closed_order.items %}
                    {% if not (item.name is defined and item.quantity is defined and item.price is defined and item.total is defined) %}
                      {% set allExist = false %}
                    {% endif %}
                  {% endfor %}
                {% if allExist %}
                {% set count = closed_order.items|length %}
                  See more details on the next page ({{ count }} items)
                {% else %}
                  See more details on the next page
                {% endif %}
              {% endif %}
              </td>
          <td class="text-{{ closed_order.paid ? 'success' : 'danger' }}">{{ closed_order.total }}€</td>
          <td>{{ closed_order.paid ? '<i class="text-success bi bi-check2"></i>' : '<i class="text-danger bi bi-x-circle"></i>' }}</td>
          <td>{{ closed_order.count }}</td>
          <td>{{ closed_order.userId }}</td>
          <td>{{ closed_order.createdAt ? closed_order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
          <td>
            <a href="{{ path('app_back_closed_order_show', { id: closed_order.id }) }}"><button type="button" class="btn btn-info btn-sm bi bi-eye"></button></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
