{% extends 'base.html.twig' %}

{% block title %}
  Bienvenue sur la home !
{% endblock %}
{% block menuActive %}
  active
{% endblock %}
{% block body %}
{# <div class="container-fluid">
    <h1 class="text-center text-muted fw-bold my-4">O'rder Backoffice</h1>
  <div class="row d-flex align-items-center justify-content-around">
    <div class="col-md-4 col-xl-2 col-lg-4 col-sm-6 col-xs-12 text-center p-3">
    <a href="{{ path('app_back_user_list') }}"><button type="button" class="img-fluid btn btn-sm btn-outline-primary p-4 m-1 fs-2 bi bi-people"> Users</button></a>
    </div>
    <div class="col-md-4 col-xl-2 col-lg-4 col-sm-6 col-xs-12 text-center p-3">
    <a href="{{ path('app_back_category_list') }}"><button type="button" class="img-fluid btn btn-sm btn-outline-primary p-4 m-1 fs-2 bi bi-bookmark"> Categories</button></a>
    </div>
    <div class="col-md-4 col-xl-2 col-lg-4 col-sm-6 col-xs-12 text-center p-3">
    <a href="{{ path('app_back_item_list') }}"><button type="button" class="img-fluid btn btn-sm btn-outline-primary p-4 m-1 fs-2 bi bi-egg"> Items</button></a>
    </div>
    <div class="col-md-4 col-xl-2 col-lg-4 col-sm-6 col-xs-12 text-center p-3">
    <a href="{{ path('app_back_table_list') }}"><button type="button" class="img-fluid btn btn-sm btn-outline-primary p-4 m-1 fs-2 bi bi-bounding-box"> Tables</button></a>
    </div>
    <div class="col-md-4 col-xl-2 col-lg-4 col-sm-6 col-xs-12 text-center p-3">
    <a href="{{ path('app_back_closed_order_list') }}"><button type="button" class="img-fluid btn btn-sm btn-outline-primary p-4 m-1 fs-2 bi bi-receipt"> Closed Orders</button></a>
    </div> 
    <div class="col-md-4 col-xl-2 col-lg-4 col-sm-6 col-xs-12 text-center p-3">
    <a href="{{ path('app_back_logout') }}"><button type="button" class="img-fluid btn btn-sm btn-outline-danger p-4 m-1 fs-2 bi bi-box-arrow-right"> Logout</button></a>
    </div>
  </div>
</div> #}
  <div class="container-fluid">
    <h1>Menu</h1>
    <table class="table">
      <tbody>
        {% for category in categories %}
            <tr>
                <th>{{ category.name}}</th>
                {% for item in category.items %}
                  {% if item.active == true %}
                    <tr>
                      <td>{{ item.name }}</td>
                      <td>{{ item.description }}</td>
                      <td>{{ item.price }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
