{% extends 'base.html.twig' %}
{% block nav %}

{% endblock %}
{% block title %}
  Bienvenue sur la home !
{% endblock %}
{% block body %}
  <div class="col-12 col-lg-4">
    <h2 class="text-center text-muted fw-bold mb-4">O'rder Backoffice</h2>
    <div class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
      <a href=""><button type="button" class="btn btn-sm btn-outline-primary mx-1 mb-2">Users</button></a>
      <a href="{{ path('app_back_category_list') }}"><button type="button" class="btn btn-sm btn-outline-primary mx-1 mb-2">Categories</button></a>
      <a href="{{ path('app_back_item_list') }}"><button type="button" class="btn btn-sm btn-outline-primary mx-1 mb-2">Items</button></a>
      <a href="{{ path('app_back_table_list') }}"><button type="button" class="btn btn-sm btn-outline-primary mx-1 mb-2">Tables</button></a>
      <a href="{{ path('app_back_closed_order_list') }}"><button type="button" class="btn btn-sm btn-outline-primary mx-1 mb-2">Closed Orders</button></a>
    </div>
    <a href="{{ path('app_back_logout') }}"><button type="button" class="btn btn-sm btn-outline-danger mx-1 mb-2">Logout</button></a>
  </div>
{% endblock %}
